body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    overflow: hidden;
    text-align: center;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#wheel {
    display: block;
    font-size: 26px;
    margin: 100px auto;
}

#items-box {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    left:0;
    position: fixed;
    right:0;
    top: 100%;
    width: 50%;
}

#items-list {
    display: block;
    width: 100%;
}

.input-wrapper {
    text-align: left;
}

.item-input {
}

.remove-input {
    cursor: pointer;
}

#apply-button{
    display: block;
}

#result {
    background: yellow;
    border-radius: 50px;
    font-size: 70px;
    line-height: 100px;
    padding: 30px;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slidein;
    -webkit-animation-iteration-count: infinite;  
}
@-webkit-keyframes slidein {
  0% {color: black}
  50% {color: red}
}

#show-items {
    bottom: 0;
    position: absolute;
    right: 0;
}

@media only screen and (orientation: landscape) {

    #wheel {
        left: 10%;
        margin: 0;
        position: absolute;
        top: 25%;
    }

    #result {
        position: absolute;
        right: 10%;
        top: 40%;
    }
}